body {
  background: #f7f7f7;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #202533;
  background: #f7f7f8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

textarea {
  font-family: inherit;
}
